header {
    background-color: blue;
    color: pink;
    text-align: center;
}

section {
    background-color: yellow;
    height: 200px;
    width: 50%;
}

aside {
    background-color: red;
    height: 200px;
    width: 50%;
    float: right;
} 