<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Add a new User</h2>
    <form action="/users" method="post">
        <input type="number" name="id" placeholder="Enter ID"><br><br>
        <input type="text" name="username" placeholder="Enter username"><br><br>
        <input type="email" name="email" placeholder="Enter email"><br><br>
        <input type="password" name="password" placeholder="Enter password"><br><br>
        <button class="btn">Add</button>
    </form>
</body>
</html>