<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show number of users</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>The total number of users are : <%= count %>
    </h2>
    <form action="/users/new" method="get"> 
        <button class="btn">Join us today!</button>
    </form>
    <form action="/users" method="get">
        <button class="btn">See all users</button>
    </form>
</body>

</html>