<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is Home Page</h1>
    <h3>
        <%= 12 * 5 %>
    </h3> 
    <h3>
        <%= "Prion".toUpperCase() %>  <!-- Dynamic -->
    </h3>
    <h3>
        <%= ["hello","bonjour","namaste"][0] %>
    </h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Beatae eius ut, quis itaque tenetur repellendus sunt
        nesciunt odit aspernatur, quia provident quod ullam
        ad fugit repellat pariatur iusto deserunt quidem.
    </p>
    <button>Click me</button>
</body>

</html>