.box {
    height: 100px;
    width: 300px;
    /* background-color: pink;  */

    /* animation-name: fontAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  */
    animation: colour 3s ease-in 0s infinite alternate;
    animation: widthAnimation 3s ease-in-out 0s infinite alternate;
    /* animation: fontAnimation 3s ease-in 0s infinite alternate; */
} 

@keyframes fontAnimation {
    form {
        font-size: 20px;
    }

    to {
        font-size: 50px;
    }
}

@keyframes widthAnimation {
    from {
        background-color: green;
        width: 50px;
    }

    to {
        background-color: red;
        font-size: 50px;
        border-radius: 15px;
        width: 250px;
    }
}

@keyframes colour {
    0% {
        background-color: green;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: blue;
    }
} 