/* div {
    height: 200px;
    width: 200px;
    background-color: rgba(43, 255, 0, 0.633);
}

#opacity {
    background-color: #ffa511;
    opacity: 0.5;
}  */

/* div {
    height: 400px;
    width: 400px;
    background-color: #4dff00ff;
}

div:hover {
    background-color: red;
    transition-duration: 3s;
    transition-delay: 3s;
    border-radius: 50%;
}  */

/* div {
    height: 150px;
    width: 150px;
    background-color: #4dff00ff;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s steps(6,end) 0.2s;
} 

div:hover {
    margin-top: 500px;
    background-color: red;
}  */

section{
    margin-top: 100px; 
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 50px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

#one{
    transform: rotate(45deg);
}
#two{
    transform:scale(0.5);
}  
#three{
    transform: translate(100px);
} 
#four{
    transform: skew(30deg);
    box-shadow: 2px 10px 10px green;
}
#five{
    transform: rotate(30deg) translateX(150px);
}  

/* div{
    width: 750px;
    height: 250px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("image.jpg");
    background-size: contain;
    color: white;
    font-size: 50px;
    text-align: center;
}  */

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
} 
#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color: yellow;
    position: relative; 
    top: 100px;
    left: 100px;
}
#absolute{
    background-color: yellow;
    position: absolute; 
    top: 100px;
    left: 100px;
} 
#fixed{
    background-color: yellow;
    position: fixed; 
    top: 200px;
    left: 200px;
}  */
