<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts" method="post">
        <label for="username" style="color: #E1306C;">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="content" style="color: #E1306C;">Content:</label><br><br>
        <textarea id="content" name="content" rows="10" cols="35"></textarea>
        <br><br>
        <button type="submit" class="btn">Create Post</button>
    </form>
</body>
</html> 